{% extends 'base.html.twig' %}
{% block body %}
<style>
body
{
    background-image: url({{ asset('background-7025417_1920.png') }});
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: #064b31;
    text-align: center;
    font-size: 40px;
    padding: 150px;
}
a
{
    text-decoration: none;
    color: #030303;
}
div
{
    color: #412512;
    font-size: 35px;
}
#login
{
    background-color: #0fec98;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 15px 41px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}
#register
{
    background-color: #0fec98;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

</style>
<h1> Image-watermark</h1>
    <div class="card-header mb-3">Please sign in</div>
    <button id="login">
        <a href="{{ path('user_login') }}">Login</a>
    </button><br>
    {#<a href="{{ path('image')}}">Upload</a><br><br>#}
    <button id="register">
        <a href="{{ path('user_register')}}">Register</a>
    </button>

{% endblock %}
{#/* Mysql = "CREATE TABLE user(
    id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
    firstname VARCHER(255),
    lastname VARCHER(255),
    login VARCHER(255) NOT NULL,
    password VARCHER(255) NOT NULL,
    email VARCHER(255) NOT NULL,
    avatar VARCHER(255),
)";

Mysql = "INSERT INTO user (firstname, lastname, image)
VALUES ('John','Rambo','Wietnam')";
*/#}
